@import "mocha.css";

* {
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 14px;
    min-height: 0;
    border-radius: 0;
}

window#waybar {
    background-color: @base;
    color: @foreground;
}

#window {
    margin: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces button {
    color: @text;
    border-bottom: 2px solid @text;
}

#workspaces button:focus {
    color: @base;
}

#workspaces button.active {
    color: @red;
    border-bottom: 2px solid @red;
}

#workspaces,
#network,
#pipewire,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#mode,
#scratchpad {
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    color: @maroon;
    border-bottom: 2px solid @maroon;
}

#clock.date {
    color: @mauve;
    border-bottom: 2px solid @mauve;
}

#wireplumber {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#network {
    color: @yellow;
    border-bottom: 2px solid @yellow;
}

#cpu {
    color: @peach;
    border-bottom: 2px solid @peach;
}

#memory {
    color: @sky;
    border-bottom: 2px solid @sky;
}

#backlight {
    color: @lavander;
    border-bottom: 2px solid @lavander;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
